@model Cotizaciones.Models.Persona

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles del cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Rut">Editar</a> |
    <a asp-action="Index">Volver a lista de clientes</a>
</div>
