@model IEnumerable<Cotizaciones.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestión de clientes</h1>

<p>
    <a asp-action="Create">Agregar nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Rut Cliente 
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.Nombre)-->
                    Nombre Cliente
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.Paterno)-->
                    Apellido Paterno
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.Materno)-->
                    Apellido Materno
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rut">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Rut">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Rut">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
