
<!--Formulario del model Persona para eliminar una cotizacion-->

@model Cotizaciones.Models.Persona

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Rut" />
        <input type="submit" value="Eliminar cliente" class="btn btn-default" /> |
        <a asp-action="Index">Volver a lista de clientes</a>
    </form>
</div>
