@model Cotizaciones.Models.Cotizacion

@{
    ViewData["Title"] = "Details";
}

<br>


<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
</style>
<br>



<table style="width:100%" >
  <tr>
    <th colspan="3"><h1 style="text-align:center">Detalle de Cotizacion</h1></th>
  </tr>

  <tr>
    <th colspan="3" style="text-align:left"><b>Fecha Cotización :</b> @Html.DisplayFor(model => model.fechaCotizacion)</th>
  </tr>

  <tr>
    <th colspan="3" style="text-align:left"><b>Fecha Validez:</b> @Html.DisplayFor(model => model.fechaValidez)</th>
  </tr>

  <tr>
      <td><b>Rut Cliente : @Html.DisplayFor(model => model.persona.Rut)</b></td>
    <td><b>Nombre Cliente : @Html.DisplayFor(model => model.nombreCliente)</b></td> 
    <td><b>Email Cliente : @Html.DisplayFor(model => model.estadoCotizacion)</b></td>
  </tr>


  <tr>
    <th colspan="3"><b>Detalle Cotización: @Html.DisplayFor(model => model.descripcionCotizacion)</b></th>
  </tr>

  <tr>
    <th colspan="3" style="text-align:right"><b>Valor : $ @Html.DisplayFor(model => model.valorCotizacion) CLP</b></th>
  </tr

   <tr>
  </tr>
  

</table>
<br>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar cotizacion</a> |
    <a asp-action="Index">Volver a lista de cotizaciones</a>
</div>
