
<!--Formulario index del model Cotización para desplegar la lista de las cotizaciones actuales-->
<!--y las acciones a realizar sobre esta-->

@model IEnumerable<Cotizaciones.Models.Cotizacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestión de cotizaciones</h1>
<hr>
<p>
    <a asp-action="Create">Agregar nueva cotización</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    <!--@Html.DisplayNameFor(model => model.nombreCliente)-->
                    Nombre Cliente
                </th>
                <th>
                    <!-- @Html.DisplayNameFor(model => model.persona) -->
                    Rut Cliente
                </th>
                <th>
                    <!-- @Html.DisplayNameFor(model => model.fechaCotizacion) -->
                    Fecha Cotización
                </th>
                <th>
                    <!-- @Html.DisplayNameFor(model => model.fechaValidez) -->
                    Fecha Validez
                </th>
                <th>
                    <!-- @Html.DisplayNameFor(model => model.estadoCotizacion) -->
                    Estado Cotización
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.descripcionCotizacion)-->
                    Descripción 
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.valorCotizacion)-->
                    Valor
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCliente) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaValidez)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoCotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcionCotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorCotizacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
