@model Cotizaciones.Models.Cotizacion

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cotizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descripcionCotizacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descripcionCotizacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valorCotizacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valorCotizacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.estadoCotizacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estadoCotizacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaCotizacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaCotizacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaValidez)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaValidez)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.persona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.persona.Rut)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
