@model IEnumerable<Cotizaciones.Models.Cotizacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Gestión de cotizaciones</h2>

<p>
    <a asp-action="PreCreate">Agregar nueva cotización</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombreCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcionCotizacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valorCotizacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estadoCotizacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaCotizacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaValidez)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.persona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCliente) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcionCotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorCotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoCotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaValidez)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.Rut)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
